.movieWrapper {
    position: relative;
    width: 100vw;
    height: 100%;
    background: white;
}

.movieImage .NotFound {
    position: relative;
    width: 80%;
    height: 465px;
    border: 1px solid red;
}

.movieInfo {
    display: flex;
    padding: 3rem;
}

.movieImage {
    flex: 1;
    border-right: 1px solid #dbdbdb;
    position: relative;
}

.movieImage img {
    /* width: 100%; */
    height: 90%;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    transition: 0.3s;
}

.movieImage img:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 20px 2px #dbdbdb;
}

.movieDetails {
    flex: 2;
    align-self: stretch;
}

.info {
    display: flex;
    margin: 1rem 1rem 0 1rem;
    box-sizing: border-box;
    /* background: gray; */
}

.info p {
    border-right: 1px solid #000;
    padding-right: 5px;
    padding-left: 5px;
    margin: 0;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
}

.info p:last-child {
    border: none;
}

.movieTitle {
    position: relative;
    margin: 0px 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    box-sizing: border-box;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1.2;
    text-shadow: 0px 4px 4px #dbdbdb;
}

.movieTitle span {
    color: #00d474;
}

.movieOverview {
    margin: 1rem 1rem;
}

.movieOverview p {
    margin: 0;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
}

.movieGenres {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 1rem;
}

.movieGenres p {
    position: relative;
    margin: 3px 0;
    margin-right: 5px;
    border: 1px solid #00d474;
    border-radius: 5px;
    padding: 1px 10px;
    box-sizing: border-box;
    letter-spacing: 1px;
    font-size: 12px;
    box-shadow: 0 4px 10px #dbdbdb;
    font-family: 'Montserrat', sans-serif;
}

.movieWebsite {
    display: inline-block;
    margin-left: 1rem;
    padding: 5px 19px;
    box-sizing: border-box;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    background: #00d474;
    transition: .5s;
    box-shadow: 2px 2px 10px 1px #ddd;
    /* background: -webkit-linear-gradient(left, rgba(210, 250, 82, 1) 0%, rgba(0, 212, 116, 1) 100%); */
    /* border: 1px solid rgba(0, 0, 0, .8); */
}

.movieWebsite:hover {
    opacity: 0.9;
    box-shadow: 0px 4px 4px #01b162;
}

.movieWebsite a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 20px;
}

.goHome {
    display: inline-block;
    padding: 5px 19px;
    margin: 1rem;
    box-sizing: border-box;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    color: #00d474;
    border: 1px solid #00d474;
    transition: .5s;
    box-shadow: 2px 2px 10px 1px #ddd;
    text-decoration: none;
    letter-spacing: 1px;
}

.goHome:hover {
    background: #00d474;
    color: white;
    opacity: 0.9;
    box-shadow: 0px 4px 4px #01b162;
    transition: .2s;
    cursor: pointer;
}

.goHome:hover i {
    position: relative;
    left: -5px;
}

.goHome a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 18px;
}

.goHome a:hover {
    color: white;
}

/* .castInfo {
    position: relative;
    width: 100%;
    margin: 1rem;
    border: 1px solid #00d474;
    padding: 5px;
} */

@media (max-width: 1135px) {
    .movieInfo {
        padding: 3.8rem 1.5rem 0;
        box-sizing: border-box;
        height: auto;
        overflow: hidden;
    }
    .movieImage img {
        height: 80%;
    }
    .movieImage img:hover {
        transform: scale(1);
    }
    .movieDetails {
        padding-top: 1rem;
        flex: 3;
    }
    .movieDetails .movieOverview {
        font-size: 13px;
    }
}

@media (max-width:860px) {
    .movieDetails .movieTitle {
        font-size: 30px;
        line-height: 1.2;
    }
    .movieWebsite {
        padding: 5px 10px;
    }
    .movieWebsite a {
        font-size: 16px;
    }
    .goHome {
        padding: 5px 10px;
    }
    .goHome a {
        font-size: 16px;
    }
}

@media (max-width: 730px) {
    .movieInfo {
        padding: 1rem 1rem 0;
        flex-direction: column;
        overflow: scroll;
    }
    .movieImage {
        width: 100%;
        height: 40%;
        border: none;
    }
    .movieImage img {
        height: 60%;
        width: 30%;
    }
}